
.content_section {
	position: relative;
}
.content_section__header {
	visibility: hidden;
	position: absolute;
	right: 0;
	top: 0;
	background: #ddd;
	width: 100%;
}
.content_section:hover .content_section__header {
	display: block;
}


.content_block {
	position: relative;
	display: none;
}
.content_block:hover {
	position: relative;
	display: none;
}
.content_section__header {
	position: absolute;
	right: 0;
	top: 0;
	background: #ddd;
	width: 100%;
}
.content_section:hover .content_block__header {
	display: block;
}