body {
	padding-top: 50px;
	padding-bottom: 70px;
}



.admin-navbar {
    margin-top: 30px;
}

.dashboard__item:first-child {
    margin-top: 15px;
}

.dashboard__item:nth-child(5n) {
    clear: left;
}

.dashboard .dashboard__icon {
    font-size: 25px;
    color: #fff;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
.dashboard__link {
    color: #000;   
}


.content_section__link {
	color: #fff;
	opacity: 0.4;
	padding: 0;
}
.content_section__link:hover {
	color: #fff;
	opacity: 1;
	text-decoration: none;
}


.content_block {
	border-color: #AFC0CC;
}
.panel-primary .content_block__heading {
	background-color: #AFC0CC;
	border-color: #AFC0CC;
	cursor: move;
}
.content_block__link {
	color: #fff;
	padding: 0 0 0 5px;
	opacity: 0.4;
}
.content_block__link:hover {
	color: #fff;
	opacity: 1;
	text-decoration: none;
}




.text-modal {
    width: 960px;
}


.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}